@import "tailwindcss";

:root {
  --primary: #10b981;
  --primary-dark: #059669;
  --primary-light: #d1fae5;
  --background: #ffffff;
  --foreground: #0f172a;
  --muted: #64748b;
  --muted-light: #f1f5f9;
  --accent: #f59e0b;
  --danger: #ef4444;
  --radius: 1rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-light: var(--primary-light);
  --color-muted: var(--muted);
  --color-muted-light: var(--muted-light);
  --color-accent: var(--accent);
  --color-danger: var(--danger);
  --color-radius: var(--radius);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
   --primary: #10b981;
  --primary-dark: #059669;
  --primary-light: #d1fae5;
  --background: #020617;
  --foreground: #f8fafc;
  --muted: #64748b;
  --muted-light: #f1f5f9;
  --accent: #f59e0b;
  --danger: #ef4444;
  --radius: 1rem;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .glass {
    @apply bg-white/5 backdrop-blur-md border border-white/10;
  }
}